* {
    box-sizing: border-box;
}

.nav_container_wrapper {
    width: 100%;
    height: 90%;
    display: flex;
}

ul.nav_container{
    padding: 10% 0 0 0;
    margin: 0;
    list-style: none;
    width: 15%;
    border-right: 1px solid #ccc;
    text-align: center;
    flex-direction: column;
    display: flex;
}

li {
    margin: auto;
}

.nav_container li.active>a {
    color: red;
}

.icon {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
}

.main_content {
    width: 85%;
    overflow: auto;
}
