.hidden {
    display: none;
}

.song_list_wrapper {
    margin: 40px 0 20px 0;
}
.list_container {
    margin: 20px 0;
    background-color: #eeeeee;
}
.list_container_header {
    display: flex;
    justify-content: space-between;
}
.list_container_title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}
.list_container_more {
    font-size: 14px;
    color: grey;
    display: flex;
    align-items: center;
}
.list_container_more i {
    border: 1px solid grey;
    width: 8px;
    height: 8px;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}
.list_container_songs {
    margin: 0 -10px;
}


ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*图片轮播区域的样式*/
.slider_container {
    width: 100%;
    height: 300px;
    margin: 20px 0;
}
.slide_img {
    height: 300px;
}


/* 推荐歌单 */
.song_row {
    display: flex;
}
.song_item {
    flex: 1;
    padding: 10px;
}
.song_item span {
   position: relative;
   top: 4px;
}
.song_item img {
    height: 200px;
    width: 100%;
    display: block;
}

/* 最新音乐 */
.new_song_wrapper{
    border: 1px solid #c7c7c7;
}
.new_song_row {
    display: flex;
    height: 80px;
}
.new_song_item {
    flex: 1;
    display: flex;
    align-items: center;
}
.song_item_idx{
    flex: 1;
    text-align: center;
    color: gray;
    font-weight: 500;
}
.song_item_img {
    flex: 2;
    position: relative;
    display: flex;
}
.song_item_img .picture_img {
    width: 64px;
    height: 64px;
    display: flex;
}
.song_item_img .play_img {
    position: absolute;
    width: 14px;
    bottom: 0;
    left: 50px
}
.song_item_desc{
    flex: 9
}
.song_item_desc .desc_name {
    font-weight: 500;
    font-size: 18px;
    margin: 4px 0;
}
.song_item_desc .desc_album {
    color: #8a8a8a;
    font-size: 14px;
    margin: 4px 0;
} 
.song_item_mv, .song_item_setting{
    flex: 1
}
.song_item_mv img {
    height: 22px
}
.song_item_setting img{
    height: 22px
}
.new_song_odd{
    background: #f9f9f9

}
.new_song_even {
    background: #e8e8e8
}
.song_right_border {
    border-right: 1px solid #c7c7c7;
}

/* 主播电台 */
.radio_contriner {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 100px);
}
.radio_item  {
    display: flex;
}