.song_list_wrapper {
    margin: 40px 0 20px 0;
}
.list_container {
    margin: 20px 0;
    background-color: #eeeeee;
}
.list_container_header {
    display: flex;
    justify-content: space-between;
}
.list_container_title {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}
.list_container_more {
    font-size: 14px;
    color: grey;
    display: flex;
    align-items: center;
}
.list_container_more i {
    border: 1px solid grey;
    width: 8px;
    height: 8px;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}
.list_container_songs {
    margin: 0 -10px;
}


ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*图片轮播区域的样式*/
.slider_container {
    width: 100%;
    height: 300px;
    margin: 20px 0;
}
.slide_img {
    height: 300px;
}


/* 推荐歌单 */
.song_row {
    display: flex;
}
.song_item {
    flex: 1;
    padding: 10px;
}
.song_item span {
   position: relative;
   top: 4px;
}
.song_item img {
    height: 200px;
    width: 100%;
    display: block;
}

/* 最新音乐 */
.new_song_row {
    display: flex;
}
.new_song_item {
    flex: 1;
    display: flex;
}