.findout-header
    display: flex
    border-bottom: 1px solid #cccccc
    padding: 20px 5px 0 10px
    
.findout_box
    padding: 0 15px
    .new_song_wrapper
        margin-top: 10px 

.tab-wrapper
    flex: 2
    padding: 0 15%

.search-btn
    flex: 1
    padding: 0 30px
