.content_wrapper {
    padding: 15px 20px;
}
.header_right_render {
    display: flex;
}
.choose_type {
    display: flex;
    align-items: center;
    background: none;
    outline: none;
    border: 1px solid #ccc;
    padding: 6px 16px;
    border-radius: 16px;
}
.choose_type img {
     height: 16px;
     margin-right: 3px;
 }