ul.tab_container {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 50px;
    width: 400px;
    display: flex;
    text-align: center;
    cursor: default;
}
ul.tab_container li {
    margin: 0 10px;
    padding: 0;
    flex: auto;
}

.tab_container li.active {
    border-bottom: 2px solid red;
    color: red;
}