.hidden {
    display: none;
}
.header_wrapper, .title {
    display: flex;
    justify-content: space-between;
}
.header_wrapper .title {
    align-items: center;
}
.header_wrapper .title i {
    height: 18px;
    background-color: red;
    margin-right: 6px;
    border: 1px solid red;
    border-radius: 2px;
    width: 3px;
}