.left_right_container
    display: grid
    grid-template-columns: repeat(2, 50%)
    grid-template-rows: repeat(2, 100px)

.left_right_item
    display: flex
    align-items: center
    .img_wrapper
        display: flex
        align-items: center
    img
        height: 80px
    .desc
        font-weight: 500
        font-size: 18px
        margin: 4px 0
    .title
        color: #8a8a8a
        font-size: 14px
        margin: 4px 0
    .text_wrapper
        padding-left: 20px